[flake8]
max-line-length = 120
exclude =
    .git,
    __pycache__,
    */migrations/*,
    .venv,
    venv,
    env,
    */staticfiles/*,
    */media/*,
    */static/*,
    .pytest_cache,
    .mypy_cache,
    node_modules,
    build,
    dist
ignore =
    E203,
    E501,
    W503
per-file-ignores =
    __init__.py:F401